<% content_for :menu do -%>
  <%#= render :partial => 'shared/menu' %>
<% end %>

<% content_for :footer do -%>
  <%= render :partial => 'shared/footer' %>
<% end %>
<div class='main-docs white-board logo2'>
  <%= link_to image_tag('logo-e.png',
                        :class => 'prepend-3',
                        :alt => 'Rails Ecommerce, built to scale.'),
              "http://github.com/drhenner/ror_ecommerce", 'data-popup' => true -%>
</div>
<div class='main-docs white-board'>

  <div class='' style='display:block;'>
    <h4> If you haven't seen the <%= link_to 'e-commerce in 15 minutes video CLICK HERE', info_video_path(7) %></h4>

    <p class='margin-sides-10'>
      Install rvm with ruby 1.9.2 or if you have 1.9.2 on your system your good to go
    </p>

    <div class='install'>
      git clone git://github.com/drhenner/ror_ecommerce
    </div>

    <p class='margin-vertical-5 margin-sides-10'>
      Configure your database.yml file (add the development and test database)
    </p>

    <hr/>
    <p class='margin-vertical-5 margin-sides-10'>
      Go into config/config.yml and change the encryption_key.
      <pre class='CodeRay' ><%=raw textilize(
      "<code lang='ruby'>  aes = OpenSSL::Cipher::Cipher.new('AES-256-CBC')
  set_encryption_key_to = aes.random_iv </code>") %></pre>
    </p>
    <p class='margin-vertical-5 margin-sides-10'>
      <ul>
        <li>gem install bundler</li>
        <li>bundle install</li>
        <li>rake db:create:all</li>
        <li>rake db:migrate</li>
        <li>rake db:seed</li>
        <li>rake db:test:prepare</li>
      </ul>
    </p>

    <hr/>

    <p>
      You Need to create config/settings.yml and change the encryption key and paypal or auth.net information.
      You can also use config/settings.yml.example until you get your real info.
    </p>
    <p>
      Paperclip will throw errors if not configured correctly.<br/>
      if you are on a Ubuntu machine, change this line in environment.rb:<br/>
      <pre class='CodeRay' >Paperclip.options[:command_path] = "/usr/local/bin"</pre>
      into:
      <pre class='CodeRay' >Paperclip.options[:command_path] = "/usr/bin"</pre>
    </p>

    <p>
      Once everything is setup, start up the server with 'rails server' and direct your browser to
      <b>localhost:3000/admin/overviews</b>
      <p>
        Write down the username/password and follow the directions.
      </p>
    </p>
    <hr/>
    <h3>Quick Evaluation</h3>
    <p>
      If you just want to see what ror_ecommerce looks like, before you enter any products into the database, run the following command:
      <pre class='CodeRay' >rake db:seed_fake</pre>

      <p>
        You should now have a minimal dataset, and be able to see a demo of the various parts of the app.
        Note: make sure you have `config/settings.yml` set up correctly before you try to checkout.
        Also, please take a look at
        <%= link_to 'The 15 minute e-commerce video', info_video_path(7)%>
      </p>
    </p>

    <hr/><hr/>
    <h2>OPTIONAL</h2>
    <hr/>

<%= render :partial => 'add_dalli' %>

<hr/>
<%= render :partial => 'add_solr' %>
  </div>

</div>
<div class=' clear'></div>
<div class=''>Please use <b>Ruby 1.9.2</b> and enjoy <b>Rails <%= rails_version %></b>.</div>

<% content_for :right_panel do -%>
  <%#= render :partial => 'docs/contents'%>
  <%= render :partial => '/shared/side_menu2' %>
<% end %>
