<% content_for :menu do -%>
  <%#= render :partial => 'shared/menu' %>
<% end %>

<% content_for :footer do -%>
  <%= render :partial => 'shared/footer' %>
<% end %>
<div class='main-docs white-board logo2'>
  <%= link_to image_tag('logo-e.png',
                        :class => 'prepend-3',
                        :alt => 'Rails Ecommerce, built to scale.'),
              "http://github.com/drhenner/ror_ecommerce", 'data-popup' => true -%>
</div>
<div class='main-docs white-board'>

  <div class='' style='display:block;'>
    <h4> If you haven't seen the <%= link_to 'e-commerce in 15 minutes video CLICK HERE', info_video_path(7) %></h4>

    <p class='margin-sides-10'>
      Install rvm with ruby 1.9.2 or if you have 1.9.2 on your system your good to go
    </p>

    <div class='install'>
      git clone git://github.com/drhenner/ror_ecommerce
    </div>

    <p class='margin-vertical-5 margin-sides-10'>
      Configure your database.yml file (add the development and test database)
    </p>

    <hr/>
    <p class='margin-vertical-5 margin-sides-10'>
      Go into config/config.yml and change the encryption_key.
      <pre class='CodeRay' ><%=raw textilize(
      "<code lang='ruby'>  aes = OpenSSL::Cipher::Cipher.new('AES-256-CBC')
  set_encryption_key_to = aes.random_iv </code>") %></pre>
    </p>
    <p class='margin-vertical-5 margin-sides-10'>
      <ul>
        <li>gem install bundler</li>
        <li>gem install rails -v<%= rails_version %></li>
        <li>bundle install</li>
        <li>rake db:create</li>
        <li>rake db:migrate</li>
        <li>rake db:seed</li>
        <li>rake db:test:prepare</li>
      </ul>
    </p>

    <hr/>
<h2>Adding Dalli for cache and the session store</h2>
<p>
Install memcached, this is easiest to do with <a href="http://mxcl.github.com/homebrew/">homebrew</a> :

<div class='install'>brew install memcached</div>
and
<div class='install'>
  memcached -vv
</div>
  <h4>TO TURN ON THE DALLI COOKIE STORE </h4>
  <p>
Remove the cookie store on line one of config/initializers/session_store.rb
go to the Gemfile and add
<pre class="CodeRay">  gem 'dalli' </pre>
then
<pre class="CodeRay"> bundle install</pre>
Finally  UNCOMMENT the next 2 lines in config/initializers/session_store.rb
<pre class="CodeRay"> require 'action_dispatch/middleware/session/dalli_store' <br/>

Hadean::Application.config.session_store :dalli_store, :key => '_hadean_session_ugrdr6765745ce4vy'</pre>

<h4>TO TURN ON THE DALLI CACHE STORE</h4>
it is also recommended to change the cache store in config/environments/*.rb

<pre class="CodeRay"> config.cache_store = :dalli_store </pre>
</p>
<hr/>
<h2>Adding Solr Search</h2>

<div class='install'>brew install solr</div>
Uncomment the following in your gemfile
  <pre class="CodeRay">
  #gem 'sunspot_solr'
  #gem 'sunspot_rails', '~> 1.3'
  </pre>

  <div class='install'>bundle install</div>


  start solr before starting you server

  Go to the bottom of product.rb and uncomment the section with: <br>
  “Product.class_eval”
    <p>
      Time to start <%= link_to 'Sunspot / Solr', 'http://outoftime.github.com/sunspot/docs/index.html', 'data-popup' => true %> and
      <%= link_to 'memcache', 'http://oldwiki.rubyonrails.org/rails/pages/MemCached', 'data-popup' => true %> (yep you better install them)
      <div class='install'>rake sunspot:solr:start</div>

      Take a look at setting up solr <br/>
      <%= link_to 'Solr in 5 minutes', 'http://github.com/outoftime/sunspot/wiki/adding-sunspot-search-to-rails-in-5-minutes-or-less', 'data-popup' => true%>


    </p>
    <p>
      You Need to create config/config.yml and change the encryption key and paypal or auth.net information.
      You can also use config/config.yml.example until you get your real info.
    </p>
    <p>
      Paperclip will throw errors if not configured correctly.<br/>
      if you are on a Ubuntu machine, change this line in environment.rb:<br/>
      <pre class='CodeRay' >Paperclip.options[:command_path] = "/usr/local/bin"</pre>
      into:
      <pre class='CodeRay' >Paperclip.options[:command_path] = "/usr/bin"</pre>
    </p>

    <p>
      Once everything is setup, start up the server with 'rails server' and direct your browser to
      <b>localhost:3000/admin/overviews</b>
      <p>
        Write down the username/password and follow the directions.
      </p>
    </p>
  </div>

</div>
<div class=' clear'></div>
<div class=''>Please use <b>Ruby 1.9.2</b> and enjoy <b>Rails <%= rails_version %></b>.</div>

<% content_for :right_panel do -%>
  <%#= render :partial => 'docs/contents'%>
  <%= render :partial => '/shared/side_menu2' %>
<% end %>
