
<ol id='next-steps'>
  <li class='home-page'>
    <%= link_to 'Home', root_path %>
  </li>
  <li class='download'>
    <%= link_to 'Docs', docs_installation_path %>
  </li>

  <li class='download'>
    <%= link_to 'Yard Docs', '/doc/file.README.html' %>
  </li>
  <li class='book'>
    <%= link_to 'Book', ecommerce_book_chapter_path(1) %>
  </li>
  <li class='info'>
    <%= link_to 'Info', info_about_path %>
  </li>
  <!--
  <li class='support'>
    <%= link_to 'Hire Me', info_about_ror_path %>
  </li>
  -->
  <li class='blog-page'>
    <%= link_to 'Blog', posts_path %>
  </li>
  <li class='get-video'>
    <%= link_to 'Videos', info_videos_path %>
  </li>
  <li class='get-involved'>
    <%= link_to 'Git Hub', 'http://github.com/drhenner/ror_ecommerce', 'data-popup' => true %>
  </li>

  <li class='ask-us'>
    <%= link_to 'Contact Us', new_contact_post_path %>
  </li>

  <li class='what_people_are_saying'>
    <%= link_to 'User Feedback', what_people_are_saying_path %>
  </li>

  <li>
    <a href='http://www.pledgie.com/campaigns/14003'>
      <img  alt='Make a donation'
            src='http://www.pledgie.com/campaigns/14003.png?skin_name=chrome'
            border='0' />
    </a>
  </li>

</ol>