
<div id='content'>
  <h1 class='logo2'>Ruby on Rails RoR ecommerce</h1>
  <div class='tagline'>
    <em>e-commerce made easy</em>
  </div>

  <div class='description'>
    <p>
      <span style="color:#8b1d1d;">What people are saying.</span>
      <br/>
      <p style="font-size:17px;">
        <span style="color:#8b1d1d;font-size:20px;">On the
        <%= link_to 'Contact Us Page', new_contact_post_path(), :style => "color:#8b1d1d;" %>:</span><br/>
        Hey, I've got a client wanting an e-commerce site. My first thought was to build it in rails and see what had already been done out there. I found ror-e.com and I plan on trying this out soon. Just wanted to shoot you a quick thanks for all the hard work on this! You've got some good looking videos I'm going to take a look at. I plan on donating if all goes well! Keep up the hard work, I for one appreciate it!
      </p>
      <p style="font-size:17px;">
        <span style="color:#8b1d1d;font-size:20px;">On the <%= link_to 'blog', post_path(1), :style => "color:#8b1d1d;" %>:</span><br/>
        I've just used Spree on a project, and it is pretty easy to start off, but here is on major headache, while google group is great, IT IS A MAJOR HEADACHE to go there with every more or less complicated questions: while basic documentation is available, it mostly lacks once you start customizing. I literally spent 40% of the time trying to figure out, what's where in spree, trying to find blogs, or reading old or contradicting documentation, ending up just reading code. Documentation for a lot of features is either lacking, or seriously outdated. I may be unfair, but I just got so frustrated at times. I'm going to check our RoR e commerce right now.
      </p>
      <p style="font-size:17px;">
        <span style="color:#8b1d1d;font-size:20px;">On the <%= link_to 'blog', post_path(1), :style => "color:#8b1d1d;" %>:</span><br/>
        I prefer 1000000 times ror_e instead spree, why? because I don't like the engines, they are a pain in the ass to maintain, I don't care about engines upgradeability, I can code myself and fix bugs, Spree took part of my day to figure out how the fuck it works, ror_e only took 10 minutes to setup, I've ported my existing photoshop/html template into it and works great!
      </p>
      <p style="font-size:17px;">
        <!--sergiomaia Sérgio Maia --> <span style="color:#8b1d1d;font-size:20px;">On Twitter:</span><br/>
        O ror_ecommerce (ror-e.com) é infinitamente melhor que o Spree. #ftw
      </p>
      <p style="font-size:17px;"><span style="color:#8b1d1d;font-size:20px;">On the
      <%= link_to 'Contact Us Page', new_contact_post_path(), :style => "color:#8b1d1d;" %>:</span><br/>
      Hi David, I'm contacting you to see if you might have some time this week to meet and talk about your ror-e project? We are interested in your project and I would like to have one of our Spree / Rails engineers talk with you about the project and see if we might be able to help each other out. Send me an email at xxxxxxx@endpoint.com and we can pick up the conversation there. Thanks, -XXX
      </p>
      <p style="font-size:17px;"><span style="color:#8b1d1d;font-size:20px;">On the
      <%= link_to 'Contact Us Page', new_contact_post_path(), :style => "color:#8b1d1d;" %>:</span><br/>
        You guys have written a great ecommerce platform for Rails. It also seems like the footprint may be lighter than Spree or others. I am looking at using it for a donation platform similar to Kickstarter. Are there any major considerations that I should look at? thanks for the time.
      </p>
    </p>
  </div>
  <%= render :partial => '/shared/side_menu' %>
</div>
<div id='layout_footer'>Rails E-commerce, built to scale.</div>