

<% content_for :footer do -%>
  <%= render :partial => 'shared/footer' %>
<% end %>

<% content_for :right_panel do -%>
  <%= render :partial => '/shared/side_menu' %>
<% end %>

<h1> <%= @video.title %> </h1>

<p>
  <strong><%= raw @video.description %></strong>
</p>

<%= raw @video.content %>

<p>
  <%= link_to "All Videos", info_videos_path, :class => 'button' %>
</p>

<h2> Other Videos </h2>

<table>
  <tr>
    <th>Title</th>
  </tr>
  <% for video in @videos %>
    <tr>
      <td><%= video.title %></td>
      <td><%= link_to "Show", info_video_path(video) %></td>
    </tr>
  <% end %>
</table>